:root {
    --azul: #0A192F;
    --azul-claro: #112240;
    --verde: #61F8D7;
    --branco: #CCD6F6;
    --cinza: #8892B0;
    --preto: #000000;
    --rosa: #F72585;
}

html,
body,
#home {
    height: 100%;
    overflow-x: hidden;
    /*FAZ COM QUE A BARRA DE BAIXO N APAREÇA*/
}


body {
    background: linear-gradient(50deg, #112240, #0A192F) no-repeat;
    font-family: 'Inconsolata', monospace;
    word-spacing: -2px;
}

/*Barra de navegação*/

nav a img {
    width: 350px;
}

nav a span {
    font-size: 1.5em;
    color: var(--branco);
    word-spacing: -10px;
}

nav.navbar-transparente {
    padding: 0px 0px;
    background: var(--azul);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--branco);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--verde);
    transition: .5s;
    text-shadow: 0px 0px 20px #61F8D7;
}

.navbar-light .navbar-toggler {
    color: var(--branco);
    border-color: var(--branco);
}

.divisor {
    width: 1px;
    background: var(--branco);
    margin: 12px 15px;
}

/*Main*/

main {
    padding-top: 100px;
    padding-bottom: 150px;
}

.txt1 {
    text-transform: uppercase;
    font-size: 5em;
    color: var(--branco);
    word-spacing: -7px;
}

.txt2 {
    text-transform: uppercase;
    font-size: 5em;
    font-weight: bolder;
    background-image: linear-gradient(50deg, #112240, #61f8d7, #112240);
    background-clip: text;
    -webkit-background-clip: text;
    /* Suporte para navegadores WebKit, como o Safari e o Chrome */
    color: transparent;
}

.invisivel {
    color: transparent;
    background: transparent;
}


main p {
    color: var(--branco);
}

.btn-custom {
    background: #61f8d727;
    color: var(--verde);
    border: 2px solid var(--verde);
    box-shadow: 0 0 1em .2em #61F8D7,
        0 0 4em .5em #1f6355,
        inset 0 0 .75em .25em #61f8d727;
    margin: 10px;
}


.btn-custom:hover {
    background: var(--verde);
    color: var(--azul-claro);
    transition: .7s;
    box-shadow: 0px 0px 20px var(--verde);
}

/*Sessao*/

.sessao {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Sobre mim*/

#sessao-1 {
    background: var(--branco);
    color: var(--azul);
}

.txt-sobre-mim {
    text-transform: uppercase;
    font-size: 3em;
    word-spacing: -7px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.img-sobre-mim {
    background: var(--azul-claro);
    border-radius: 100%;
    width: 450px;
}

p>a {
    color: var(--rosa);
    font-size: 1.1em;
}

ul.list-inline li {
    display: inline-block;
    margin-right: 10px;
    font-size: .9em;
}

/*Atualmente*/


#sessao-2 {
    color: var(--branco);
}

.txt-atualemte {
    text-transform: uppercase;
    font-size: 3em;
    word-spacing: -7px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.img-atualmente {
    width: 450px;
}

/*conhecimentos*/

.tecnologia {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.tecnologia i {
    font-size: 2em;
}



/*Projetos*/

.projetos {
    height: 500px;
    background: var(--azul);
    color: var(--branco);
    margin-bottom: 20px;
    position: relative;
}

.projetos:hover {
    transform: scale(1.07);
    transition: .5s;
}

.projetos:not(:hover) {
    transition: transform .7s ease;
    transform: scale(1);
}

.conhecimentos i {
    font-size: 50px;
}

.card-img-top {
    max-height: 201px;
    min-height: 200px;
    object-fit: cover; 
}

.btn-group{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;

}


.btn-outline-secondary:hover {
    border: 2px solid var(--verde);
}

/*Footer*/

footer {
    color: var(--branco);
    margin: 20px;
}

@media (max-width: 575.98px) {

    .txt1,
    .txt2 {
        font-size: 3em;
    }

    .h1 {
        font-size: 2em;
    }

    nav a img {
        width: 250px;
    }
    .btn-group{
        padding-bottom: 0px;
    
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .txt1,
    .txt2 {
        font-size: 3em;
    }

    .h1 {
        font-size: 2em;
    }

    .projetos {
        font-size: 14px;
    }

    nav a img {
        width: 250px;
    }
    .card-body p{
        font-size: .9em;
    }


}

@media (min-width: 768px) and (max-width: 991.98px) {

    .txt1,
    .txt2 {
        font-size: 3em;
    }

    .h1 {
        font-size: 2.3em;
    }
    .card-body p{
        font-size: .9em;
    }
}

@media (min-width: 992px){

    .txt1,
    .txt2 {
        font-size: 3.5em;
    }
    .card-body p{
        font-size: .9em;
    }
}

@media (min-width: 1400px){

    .txt1,
    .txt2 {
        font-size: 3.5em;
    }
    .card-body p{
        font-size: 1em;
    }
}